numpy
pandas
scipy
matplotlib
seaborn
plotly
prophet
neuralprophet
pytorch_lightning
scikit-learn
sktime
pillow
ipython
joblib
wandb
optuna
loguru
tqdm
python-dotenv
pydantic
pytest
pytest-cases
black[d]
